* {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
}

ol li {
  margin-left: 30px;
}

body {
  font-family: "Georgia", serif;
}

h1, h2, h3, h4 {
  font-family: "Helvetica", sans-serif;
}

.header {
  margin-bottom: 10px;
}

.page {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.new-frowny {
  margin-bottom: 10px;
}

.frowny-text-input {
  width: 100%;
  font-size: 18px;
  padding: 4px;
  margin-bototm
}

.frowny-item {
  font-size: 20px;
  margin-bottom: 5px;
}

.frowny-item a {
  float: right;
}

.watermark {
  -webkit-transform: rotate(90deg);
  width: 300px;
  height: 300px;
  text-align: center;
  position: fixed;
  left: 50%;
  left: -webkit-calc(50% - 150px);
  top: 50%;
  top: -webkit-calc(50% - 150px);
  font-size: 300px;
  z-index: -10;
  color: #fafafa;
  -webkit-user-select: none;
}