.title {
  font-size: 30px;
  font-weight: 300;
}

header {
  position: fixed;
  background-color: #efefef;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
}

body {
  padding-top: 60px;
}

ul {
  margin-left: 30px;
}

ul li {
}

ul.list .item {
  margin-bottom: 10px;
}