* {
  padding: 0px;
  margin: 0px;
}

html, body {
  font-family: Helvetica, sans-serif;
}

.stats {
  bottom: 0px;
  right: 0px;
  position: absolute;
  padding: 10px;
}

.stats .label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 5px;
  line-height: 16px;
}

.bar-chart {
  height: 16px;
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: text-bottom;
  width: 50px;
  overflow: hidden;
  background-color: #ccc;
}

.bar-chart .bar {
}

.bar-chart-shim {
  height: 100%;
  width: 0px;
  display: inline-block;
}


.free-num {
  margin-left: 5px;
  display: inline-block;
}

